

{% extends "base.html" %}
{% block content %}
    from back

        <main class="chatwindow unjoined" data-key="{{ urlKey }}" data-sid="{{ sid }}" data-nick="">


{##}
{#            <div class="pure-g">#}
{#                <div class="pure-u-2-6">#}
{##}





                           {# this is the grid on the left, the chat, on the right, the roster #}


                            <div class="chat light ">
                                <h1 class="topic mid">{{ topic }}</h1>

                                <div class="join mid">
                                    <form class="join-form">
                                        <label for="join-nick">Nickname:</label>
                                        <input name="nick" id="join-nick" type="text">
                                        <button type="submit" class="pure-button pure-button-primary">Join!</button>
                                    </form>
                                </div>
                                <form class="chat-input mid" action="">
                                    <label for="in-msg">Chat:</label>
                                    <input name="message" id="in-msg" type="text">
                                    <button type="submit" class="pure-button pure-button-primary">send</button>
                                </form>
                                <ul class="chat-messages">
                                </ul>

                            </div>

{##}
{##}
{##}
{#                </div>#}
{##}
{#                <div class="pure-u-2-6">#}



                            <div class="roster">
                                roster:
                                <ul class="roster-list">
                                </ul>
                            </div>

{##}
{#                </div>#}
{#            </div>#}









        </main>
        <script src="/static/chat.js"></script>


{% endblock %}


    </body>
</html>
